:root{
    --main-color_app_one: yellow;
    --main-color_app_two: black;

    --border-radius-4:4px;
    --border-radius-8:8px;
    --border-radius-12:12px;
    --border-radius-16:16px;
    --border-radius-20:20px;

    --z-index-default:1;
    --z-index-modal:100;
    --z-index-tooltip:1000;
    --z-index-alert:10000;
}