DB= [dialect]://[username]:[password]@[host]:[post]/[base_name]
PORT= [PORT]
SECRET_ACCESS_TOKEN=SECRET_ACCESS_TOKEN
SECRET_REFRESH_TOKEN=SECRET_REFRESH_TOKEN 
CLIENT_URL='http://localhost:5173'
WS_URL=http://localhost:3000
WS_PATH=/ws