@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-family: Cinzel, serif;
    color: #e0cba8;
    background-color: #222;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}



.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.userActions {
    display: flex;
    align-items: center;
}

.logoutButton {
    height: 90%;
}

.logoutButton::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fdd835;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.logoutButton:hover {
    color: white;
}

.logoutButton:hover::before {
    transform: scaleX(1);
}

.authButtons {
    display: flex;
    align-items: center;
}

.authButton {
    height: 120%;
}

.authButton::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #fdd835;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease;
}

.authButton:hover {
    color: white;
}

.authButton:hover::before {
    transform: scaleX(1);
}

.avatar {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    object-fit: cover;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 50%;
}

.rulesButton {
    height: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rulesButton:hover {
    color: white;
    background-color: rgb(255 255 255 / 10%);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.modalContent {
    position: relative;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 15px;
    color: #ddd;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #e0cba8;
    cursor: pointer;
}

.closeButton:hover {
    color: white;
}


.modalContent h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #e0cba8;
}

.modalContent p {
    font-size: 1.1em;
    line-height: 1.5;
}

@media (width <= 768px) {
    .header {
        flex-direction: column; /*Вертикальное расположение элементов*/
        padding: 10px; /* Уменьшение отступов */
    }

    .headerContent {
        /* flex-direction: column; Колонка для элементов внутри заголовка */
        align-items: flex-start; /* Выровнять элементы по левому краю */
        width: 100%; /* Полная ширина */
        margin: 0; /* Убрать отступы */
    }

    .userActions,
    .authButtons {
        justify-content: space-between; /* Пространство между кнопками */
        width: 50%; /* Элементы занимают всю ширину */
        margin-top: 10px; /* Отступ сверху */
        height: 30px;
    }

    .authButton, .logoutButton, .rulesButton {
        width: 100%; /* Кнопки занимают полную ширину */
        padding: 12px; /*Увеличить отступ внутри кнопок для удобства*/
        font-size: 16px; /* Увеличить размер текста для удобства чтения */
    }

    .modalContent {
        width: 80%; /* Ширина модального окна */
    }

    .closeButton {
        padding: 15px; /* Увеличение кнопки закрытия */
        font-size: 32px; /* Увеличение размера текста */
    }

    .modalContent h2 {
        font-size: 1.5em; /* Уменьшение размера заголовка */
    }

    .modalContent p {
        font-size: 1em; /* Уменьшение размера текста параграфа */
    }
}