@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-family: Cinzel, serif;
    color: #e0cba8;
    background-color: #222;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

