@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343e40; /* Темный фон */
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  box-shadow: 0 -2px 10px rgba(233, 210, 81, 0.1);
  z-index: 1000;
  font-family: 'Poppins', sans-serif; /* Применяем шрифт */
}

.userActions,
.authButtons {
  display: flex;
  align-items: center;
  gap: 80px; /* Расстояние между элементами */
}

.iconContainer {
  display: flex;
  flex-direction: column; /* Иконка и текст в колонку */
  align-items: center; /* Центрирование по горизонтали */
  gap: 4px; /* Расстояние между иконкой и текстом */
}

.rulesButton,
.logoutButton,
.authButton {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.rulesButton:hover,
.logoutButton:hover,
.authButton:hover {
  transform: scale(1.1); /* Увеличение при наведении */
  opacity: 0.8;
}

.iconText {
  font-size: 12px; /* Маленький размер текста */
  color: #e0cba8; /* Цвет текста */
  text-transform: uppercase; /* Текст в верхнем регистре */
  letter-spacing: 0.5px; /* Расстояние между буквами */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContent {
  background-color: #333; /* Темный фон модального окна */
  color: #ddd; /* Светлый текст */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Poppins', sans-serif; /* Применяем шрифт */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #e0cba8; /* Цвет кнопки закрытия */
}

.closeButton:hover {
  color: #e1cc4f; /* Цвет при наведении */
}

.modalContent h2 {
  margin-bottom: 15px;
  font-size: 1.8em;
  color: #e0cba8; /* Цвет заголовка */
}

.modalContent p {
  margin: 10px 0;
  color: #abb4b6; /* Цвет текста */
}

