.rules {
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 400px;
}

.red {
  padding-bottom: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff4c4c;
  border-bottom: 2px solid #ff4c4c;
}

h3, h4 {
  margin-top: 10px;
}

ul {
  padding-left: 0;
}

ul.participants li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #383838;
  border-radius: 5px;
}

strong {
  color: #ffad33;
}

p {
  margin-bottom: 20px;
}

h5.intro {
  margin: 15px;
  font-size: 1.2em;
  font-style: italic;
  color: #ccc;
  text-align: center;
}

ul li::before {
  padding-right: 10px;
  font-size: 1.2em;
  color: #ff4c4c;
  content: "•";
}
