.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}